<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Marco Normativo</title>

    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }
        
        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>


    <!-- Custom styles for this template -->
    <link href="css/signin.css" rel="stylesheet">

    <link rel="icon" type="image/png" href="/img/icono.png">
    <!--css-->
    <!-- <link rel="stylesheet" type="text/css" href="css/main.css" /> -->
    <!--iconos-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <!--font-->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet" />
    <!--bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous" />

</head>

<body>



    <div class="card-body">
        <form action="/subirtexto" method="post">
            <div>
                <label for="articulo">articulo</label>
                <select name="articulo" id="articulo">
            <option value="70">70</option>
            <option value="80">80</option>
            <option value="36">36</option>
        </select>
            </div>


            <div>
                <label for="fraccion">fraccion ej. xvii</label>
                <input id="fraccion" name="fraccion" type="text">
            </div>

            <div>
                <label for="texto">texto de descripcionde la fraccion</label><br>
                <input class="w-100" id="texto" name="texto" type="text">
            </div>


            <input type="submit" class="btn btn-primary" value="subir">

        </form>
    </div>


    <!-- <div class="container border border-secondary mt-1 p-2">
        <div class="card-body">
            <form class="row g-3">
                <div class="col-md-4">
                    <label for="validationDefault01" class="form-label">First name</label>
                    <input type="text" class="form-control" id="validationDefault01" value="Mark" required>
                </div>
                <div class="col-md-4">
                    <label for="validationDefault02" class="form-label">Last name</label>
                    <input type="text" class="form-control" id="validationDefault02" value="Otto" required>
                </div>
                <div class="col-md-4">
                    <label for="validationDefaultUsername" class="form-label">Username</label>
                    <div class="input-group">
                        <span class="input-group-text" id="inputGroupPrepend2">@</span>
                        <input type="text" class="form-control" id="validationDefaultUsername" aria-describedby="inputGroupPrepend2" required>
                    </div>
                </div>
                <div class="col-md-6">
                    <label for="validationDefault03" class="form-label">City</label>
                    <input type="text" class="form-control" id="validationDefault03" required>
                </div>
                <div class="col-md-3">
                    <label for="validationDefault04" class="form-label">State</label>
                    <select class="form-select" id="validationDefault04" required>
                    <option selected disabled value="">Choose...</option>
                    <option>...</option>
                  </select>
                </div>
                <div class="col-md-3">
                    <label for="validationDefault05" class="form-label">Zip</label>
                    <input type="text" class="form-control" id="validationDefault05" required>
                </div>
                <div class="col-12">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="invalidCheck2" required>
                        <label class="form-check-label" for="invalidCheck2">
                      Agree to terms and conditions
                    </label>
                    </div>
                </div>
                <div class="col-12">
                    <button class="btn btn-primary" type="submit">Submit form</button>
                </div>
            </form>
        </div>
    </div>

    <div class="container border border-secondary mt-1 p-2">
        <div class="card-body">
            <form class="row g-3 needs-validation" novalidate>
                <div class="col-md-4">
                    <label for="validationCustom01" class="form-label">First name</label>
                    <input type="text" class="form-control" id="validationCustom01" value="Mark" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="col-md-4">
                    <label for="validationCustom02" class="form-label">Last name</label>
                    <input type="text" class="form-control" id="validationCustom02" value="Otto" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="col-md-4">
                    <label for="validationCustomUsername" class="form-label">Username</label>
                    <div class="input-group has-validation">
                        <span class="input-group-text" id="inputGroupPrepend">@</span>
                        <input type="text" class="form-control" id="validationCustomUsername" aria-describedby="inputGroupPrepend" required>
                        <div class="invalid-feedback">
                            Please choose a username.
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <label for="validationCustom03" class="form-label">City</label>
                    <input type="text" class="form-control" id="validationCustom03" required>
                    <div class="invalid-feedback">
                        Please provide a valid city.
                    </div>
                </div>
                <div class="col-md-3">
                    <label for="validationCustom04" class="form-label">State</label>
                    <select class="form-select" id="validationCustom04" required>
                    <option selected disabled value="">Choose...</option>
                    <option>...</option>
                  </select>
                    <div class="invalid-feedback">
                        Please select a valid state.
                    </div>
                </div>
                <div class="col-md-3">
                    <label for="validationCustom05" class="form-label">Zip</label>
                    <input type="text" class="form-control" id="validationCustom05" required>
                    <div class="invalid-feedback">
                        Please provide a valid zip.
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
                        <label class="form-check-label" for="invalidCheck">
                      Agree to terms and conditions
                    </label>
                        <div class="invalid-feedback">
                            You must agree before submitting.
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <button class="btn btn-primary" type="submit">Submit form</button>
                </div>
            </form>
        </div>
    </div>

    <div class="container border border-secondary mt-1 p-2">
        <div class="card-body">
            <form action="" method="POST" enctype="multipart/form-data" class="row g-3 needs-validation" novalidate>



                <div class="col-md-4">
                    <label for="validationCustomUsername" class="form-label">Username</label>
                    <div class="input-group has-validation">
                        <span class="input-group-text" id="inputGroupPrepend">@</span>
                        <input type="text" class="form-control" id="validationCustomUsername" aria-describedby="inputGroupPrepend" required>
                        <div class="invalid-feedback">
                            Please choose a username.
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <label for="validationCustom03" class="form-label">City</label>
                    <input type="text" class="form-control" id="validationCustom03" required>
                    <div class="invalid-feedback">
                        Please provide a valid city.
                    </div>
                </div>

                <div class="mb-3">
                    <label for="inciso" class="form-label">Inciso</label>
                    <select name="inciso" id="inciso" class="form-select" required>
                        <option selected disabled value="" hidden></option>
                       <option id="a" value="a" >a</option>
                       <option id="b" value="b" >b</option>
                       <option id="c" value="c" >c</option>
                   </select>
                    <div class="invalid-feedback">
                        Please select a valid state.
                    </div>
                </div>

                <div class="col-md-3">
                    <label for="validationCustom04" class="form-label">State</label>
                    <select class="form-select" id="validationCustom04" required>
                    <option selected disabled value="">Choose...</option>
                    <option>...</option>
                  </select>
                    <div class="invalid-feedback">
                        Please select una respuesta valida
                    </div>
                </div>

                <div class="col-12">
                    <button class="btn btn-primary" type="submit">Submit form</button>
                </div>
            </form>
        </div>
    </div>

    <div class="container border border-secondary mt-1 p-2">
        <div id="formulario" class="card-body">
            <form action="" method="POST" enctype="multipart/form-data" class="needs-validation" novalidate>

                <div class="mb-3">
                    <label for="year" class="form-label">Año</label>
                    <select name="year" id="year" class="form-select" tabindex="2">
                       <option value="2021" selected>2021</option>
                       <option value="2020">2020</option>
                       <option value="2019">2019</option>
                       <option value="2018">2018</option>
                   </select>
                </div>

                <div class="mb-3">
                    <label for="articulo" class="form-label">Artículo</label>
                    <select name="articulo" id="articulo" class="form-select" tabindex="2" onclick="ShowHideElement()">
                       <option id="36" value="36" >36</option>
                       <option id="70" value="70" selected>70</option>
                       <option id="80" value="80" >80</option>
                   </select>
                </div>


                <div class="mb-3">
                    <label for="fraccion" class="form-label">Fraccion</label>
                    <select name="fraccion" id="fraccion" class="form-select" tabindex="3" required>
                        <option id="sn" value=""></option>
                        <option id="i" value="i">I</option>
                        <option id="ii" value="ii">II</option>
                        <option id="iii" value="iii">III</option>
                        <option id="iv" value="iv" >IV</option>
                        <option id="v" value="v">V</option>
                        <option id="vi" value="vi">VI</option>
                        <option id="vii" value="vii" >VII</option>
                        <option id="viii" value="viii">VIII</option>
                        <option id="ix" value="ix">IX</option>
                        <option id="x" value="x" >X</option>
                        <option id="xi" value="xi">XI</option>
                        <option id="xii" value="xii">XII</option>
                        <option id="xiii" value="xiii">XIII</option>
                        <option id="xiv" value="xiv">XIV</option>
                        <option id="xv" value="xv">XV</option>
                        <option id="xvi" value="xvi">XVI</option>

                        <option id="xvii" value="xvii">XVII</option>
                        <option id="xviii" value="xviii">XVIII</option>
                        <option id="xix" value="xix">XIX</option>
                        <option id="xx" value="xx">XX</option>
                        <option id="xxi" value="xxi">XXI</option>
                        <option id="xxii" value="xxii">XXII</option>
                        <option id="xxiii" value="xxiii">XXIII</option>
                        <option id="xxiv" value="xxiv">XXIV</option>
                        <option id="xxv" value="xxv">XXV</option>
                        <option id="xxvi" value="xxvi">XXVI</option>
                        <option id="xxvii" value="xxvii">XXVII</option>
                        <option id="xxviii" value="xxviii">XXVIII</option>
                        <option id="xxix" value="xxix">XXIX</option>
                        <option id="xxx" value="xxx">XXX</option>

                        <option id="xxxi" value="xxxi">XXXI</option>
                        <option id="xxxii" value="xxxii">XXXII</option>
                        <option id="xxxiii" value="xxxiii">XXXIII</option>
                        <option id="xxxiv" value="xxxiv">XXXIV</option>
                        <option id="xxxv" value="xxxv">XXXV</option>
                        <option id="xxxvi" value="xxxvi">XXXVII</option>
                        <option id="xxxvii" value="xxxvii">XXXVIII</option>
                        <option id="xxxviii" value="xxxviii">XXXIX</option>
                        <option id="xl" value="xl">XL</option>

                        <option id="xli" value="xli">XLI</option>
                        <option id="xlii" value="xlii">XLII</option>
                        <option id="xliii" value="xliii">XLIII</option>
                        <option id="xliv" value="xliv">XLIV</option>
                        <option id="xlv" value="xlv">XLV</option>
                        <option id="xlvi" value="xlvi">XLVI</option>
                        <option id="xlvii" value="xlvii">XLVII</option>
                        <option id="xlviii" value="xlviii">XLVIII</option>
                   </select>
                    <div class="invalid-feedback">
                        Please select una respuesta valida
                    </div>
                </div>

                <div class="mb-3">
                    <label for="validationCustom04" class="form-label">Inciso</label>
                    <select name="inciso" id="validationCustom04" class="form-select" tabindex="2" required>
                        <option id="null" selected disabled value="null" hidden></option>
                       <option id="a" value="a" >a</option>
                       <option id="b" value="b" >b</option>
                       <option id="c" value="c" >c</option>
                   </select>
                    <div class="invalid-feedback">
                        Please select a valid state.
                    </div>
                </div>

                <div class="mb-3">
                    <label for="aplica" class="form-label">Aplica</label>
                    <select name="aplica" id="aplica" class="form-select" tabindex="2">
                       <option value="Aplica" selected>Aplica</option>
                       <option value="No aplica">No aplica</option>
                   </select>
                </div>


                <div class="mb-3">
                    <label for="file" class="form-label">Subir archivos</label><br>
                    <input type="file" id="file" name="file" required><br>
                    <div class="invalid-feedback">
                        Please provide a valid city.
                    </div>
                </div>

                <div>
                    <input type="text" id="seccion" name="seccion" value="Transparencia" hidden>
                </div>


                <button class="btn btn-primary" type="submit">Submit form</button>

                
                <a href="/logout" class="btn btn-secondary float-end">Salir</a>
            </form>
        </div>
    </div> -->
    <br><br><br>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
    <!---->

    <script>
        // Example starter JavaScript for disabling form submissions if there are invalid fields
        (function() {
            'use strict'

            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.querySelectorAll('.needs-validation')

            // Loop over them and prevent submission
            Array.prototype.slice.call(forms)
                .forEach(function(form) {
                    form.addEventListener('submit', function(event) {
                        if (!form.checkValidity()) {
                            event.preventDefault()
                            event.stopPropagation()
                        }

                        form.classList.add('was-validated')
                    }, false)
                })
        })()
    </script>

</body>

</html>