<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.88.1">
    <title>SESECC</title>



    <!--cdn de jquery-->
    <script src="js/jquery-3.6.0.min.js"></script>
    <!-- Bootstrap core CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.1/css/dataTables.bootstrap5.min.css">
    <!--css-->
    <link rel="stylesheet" type="text/css" href="css/inicio.css" />
    <link rel="stylesheet" type="text/css" href="css/main.css" />
    <link rel="stylesheet" type="text/css" href="css/hover.css" />
    <!--iconos-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <!--font-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap" rel="stylesheet">

    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }
        
        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>
    <!-- Custom styles for this template -->
    <link href="css/dashboard.css" rel="stylesheet">

    <link rel="icon" type="image/png" href="/img/icono.png">
</head>

<body>

    <header class="navbar navbar-dark sticky-top colorBG4 flex-md-nowrap p-0 shadow-sm">
        <img class="col-md-3 col-lg-2 py-2 mt-2 mb-2" src="img/SESECC_blancohor.svg" alt="" width="240">
        <button class="navbar-toggler position-absolute d-md-none collapsed mt-3" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
           <span class="navbar-toggler-icon"></span>
        </button>

        <div type="text" class="col-md-6 col-lg-8 px-3 mt-2 mb-2 text-center" style="color: #ffff">
            <h3>Plataforma de Capacitación</h3>
        </div>
        <div type="text" class="col-md-3 col-lg-2 px-3 mt-md-2 mb-2 text-end">
            <div class="">
                <form action="logout" method="post">
                    <button class=" btn btn-primary3 btn-sm "><i class="bi bi-person-fill"></i> Cerrar Sesion</button>
                </form>
            </div>

        </div>
    </header>

    <div class="container-fluid">
        <div class="row">
            <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse mt-4">
                <div class="position-sticky pt-3">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href=""><i class="bi bi-journals h2"></i>
                                <span data-feather="home"></span> Cursos
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href=""><i class="bi bi-graph-up icon-lateral h2"></i>
                                <span data-feather="home"></span> Estadisticas
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href=""><i class="bi bi-envelope icon-lateral h2"></i>
                                <span data-feather="home"></span>Mensajes
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href=""><i class="bi bi-gear icon-lateral h2"></i>
                                <span data-feather="home"></span>   Configuración
                            </a>
                        </li>


                    </ul>
                    <ul class="nav flex-column mb-2">

                        <hr size="3" width="100%" color="black">
                        <li class="nav-item">
                            <a class="nav-link" href=""><i class="bi bi-person-circle h2"></i>
                                 Cuenta
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>

            <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">

                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom" id="Inicio">

                    <h2>Bienvenido:

                        <% if(user) { %>
                            <span class=""><%= user %></span>
                            <% } %>

                    </h2>
                </div>



                <section class="page-section portfolio" id="portfolio">
                    <div class="text-center m-3 p-1 colorBG4">
                        <h2 class="text-white ">Cursos</h2>
                    </div>
                    <div class="container">
                        <!-- Portfolio Grid Items-->
                        <div class="row justify-content-center">
                            <!-- Portfolio Item 1-->

                            <div class="col-md-6 col-lg-4 mb-5">
                                <div class=" mx-2">
                                    <a href="#exampleModal-1" data-bs-toggle="modal">
                                        <div class="contenedor2">
                                            <figure>
                                                <img class="img-fluid" src="img/1.jpg" alt="img">
                                                <div class="capa">
                                                    <h2>Ética y valores para el trabajo ejemplo <br><i class="bi bi-plus-circle"></i></h2>
                                                </div>
                                            </figure>
                                        </div>
                                    </a>
                                </div>

                            </div>
                            <!-- Portfolio Item 2-->
                            <div class="col-md-6 col-lg-4 mb-5">
                                <div class=" mx-2">
                                    <a href="">
                                        <div class="contenedor2">
                                            <figure>
                                                <img class="img-fluid" src="img/2.jpg" alt="img">
                                                <div class="capa">
                                                    <h2>Titulo 2 <br><i class="bi bi-plus-circle"></i></h2>
                                                </div>
                                            </figure>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <!-- Portfolio Item 3-->
                            <div class="col-md-6 col-lg-4 mb-5">
                                <div class=" mx-2">
                                    <a href="">
                                        <div class="contenedor2">
                                            <figure>
                                                <img class="img-fluid" src="img/3.jpg" alt="img">
                                                <div class="capa">
                                                    <h2>Titulo 3 <br><i class="bi bi-plus-circle"></i></h2>
                                                </div>
                                            </figure>
                                        </div>
                                    </a>
                                </div>
                            </div>


                        </div>
                    </div>
                </section>



                <!-- <canvas class="my-4 w-100" id="myChart" width="900" height="380"></canvas> -->

            </main>


            <!-- Modal -->

            <div class="modal fade" id="exampleModal-1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content bg-light">
                        <div class="modal-header">
                            <nav>
                                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                    <button class="nav-link active " id="nav-ficha-tab" data-bs-toggle="tab" data-bs-target="#nav-ficha" type="button" role="tab" aria-controls="nav-ficha" aria-selected="true">Curso</button>
                                    <button class="nav-link" id="nav-temario-tab" data-bs-toggle="tab" data-bs-target="#nav-temario" type="button" role="tab" aria-controls="nav-temario" aria-selected="false">Temario</button>
                                    <button class="nav-link" id="nav-lineamientos-tab" data-bs-toggle="tab" data-bs-target="#nav-lineamientos" type="button" role="tab" aria-controls="nav-lineamientos" aria-selected="false">Lineamientos</button>
                                </div>
                            </nav>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <!--cuerpo de ventana-->

                            <div class="container-fluid">

                                <div class="tab-content" id="nav-tabContent">
                                    <div class="tab-pane fade show active" id="nav-ficha" role="tabpanel" aria-labelledby="nav-ficha-tab">
                                        <div class="container-fluid">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <img class="img-fluid mb-2" src="img/1.jpg" alt="">
                                                </div>
                                                <div class="col-md-6">
                                                    <h4>Ética y valores para el trabajo Ejemplo</h4>
                                                    <h5 class="color4"><i class="bi bi-person-lines-fill"></i> Ponente</h5>
                                                    <h6>Ejemplo Capacitador 1</h6>
                                                </div>
                                            </div>
                                            <div class="mt-3">
                                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque ex vitae, autem minus sed quia eius itaque non unde quo placeat eos laboriosam architecto odio odit nulla maxime earum molestias.</p>
                                            </div>
                                            <div>
                                                <h5 class="color4"><i class="bi bi-clock"></i> Duracion</h5>
                                                <h6>8 horas</h6>
                                            </div>



                                        </div>

                                    </div>
                                    <div class="tab-pane fade" id="nav-temario" role="tabpanel" aria-labelledby="nav-temario-tab">
                                        <div class="container-fluid">

                                        </div>

                                    </div>
                                    <div class="tab-pane fade" id="nav-lineamientos" role="tabpanel" aria-labelledby="nav-lineamientos-tab">
                                        <div class="container-fluid">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <img class="img-fluid" src="img/1.jpg" alt="">
                                                </div>
                                                <div class="col-md-6">
                                                    <h6 class="color4"><i class="bi bi-calendar2-check-fill"></i> Fecha de inicio</h6>
                                                    <p>09 de mayo del 2021</p>
                                                    <h6 class="color4"><i class="bi bi-calendar2-check"></i> Fecha de finalización</h6>
                                                    <p>02 de febrero del 2022</p>
                                                    <h6 class="color4"><i class="bi bi-bookmark-check-fill"></i> Requerimientos</h6>
                                                    <p>Necesita un código de invitación</p>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--------------------->
                        </div>
                        <div class="modal-footer">
                            <a href="" type="submit" class="btn btn-primary">Inscribirme</a>
                        </div>
                    </div>
                </div>
            </div>



        </div>
    </div>

    <script>
        let archivo3 = document.querySelector('#archivo3');
        archivo3.addEventListener('change', () => {
            document.querySelector('#nombre3').innerText = archivo3.files[0].name
        })
    </script>

    <script>
        // Example starter JavaScript for disabling form submissions if there are invalid fields
        (function() {
            'use strict'

            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.querySelectorAll('.needs-validation')

            // Loop over them and prevent submission
            Array.prototype.slice.call(forms)
                .forEach(function(form) {
                    form.addEventListener('submit', function(event) {
                        if (!form.checkValidity()) {
                            event.preventDefault()
                            event.stopPropagation()
                        }

                        form.classList.add('was-validated')
                    }, false)
                })
        })()
    </script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>

    <script>
        //resetform();

        function resetform() {

            $("#formCurso")[0].reset();
            document.querySelector('#nombre3').innerText = `Suelta los archivos aquí`
        }
    </script>

    <script src="js/bootstrap.bundle.min.js"></script>

    <!-- <script src="https://cdn.jsdelivr.net/npm/feather-icons@4.28.0/dist/feather.min.js" integrity="sha384-uO3SXW5IuS1ZpFPKugNNWqTZRRglnUJK6UAZ/gxOX80nxEkN9NcGZTftn6RzhGWE" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js" integrity="sha384-zNy6FEbO50N+Cg5wap8IKA4M/ZnLJgzc6w2NqACZaK0u0FXfOWRRJOnQtpZun8ha" crossorigin="anonymous"></script>

 -->

</body>

</html>