<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SESECC</title>
    <link rel="stylesheet" type="text/css" href="css/main.css" />
</head>

<body>

    <span class="badge bg-success"><%= nombre %></span>

    <!-- <h1>Mostrar docuemnto</h1> -->
    <iframe src="<%= ruta %>/<%= nombre %>" width="100%" height="500" frameborder="0"></iframe>
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1907.126779743717!2d-96.7241556!3d17.0602456!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85c72238bbf2e223%3A0x4033e2741d1b0b28!2sCentro%20Hist%C3%B3rico%20de%20Oaxaca%20de%20Ju%C3%A1rez!5e0!3m2!1ses-419!2smx!4v1633468731857!5m2!1ses-419!2smx"
        width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>

</body>

</html>