<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SESECC</title>
    <link rel="icon" type="image/png" href="img/icono.png">
    <!--css-->
    <link rel="stylesheet" type="text/css" href="css/main.css" />
    <!--iconos-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <!--font-->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet" />
    <!--bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous" />
    <!--reveal-->
    <script src="https://unpkg.com/scrollreveal"></script>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                <img src="img/oaxaca.svg" alt="imagen" style="width: 50px; height: 40px" class="" />
                <img src="img/icono.svg" alt="imagen" style="width: 30px; height: 30px" class="" /> INICIO
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            NOSOTROS
          </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="/quienes">QUIÉNES SOMOS</a></li>
                            <li>
                                <a class="dropdown-item" href="/quienes#estructuraOrganica">ESTRUCTURA ORGÁNICA</a>
                            </li>
                            <li><a class="dropdown-item" href="/quienes#mision">MISIÓN</a></li>
                            <li><a class="dropdown-item" href="/quienes#vision">VISIÓN</a></li>
                            <li>
                                <a class="dropdown-item" href="/organodGobierno">ÓRGANO DE GOBIERNO</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="/comisionEjecutiva">COMISIÓN EJECUTIVA</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="/comiteCoordinador">COMITÉ COORDINADOR</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            NORMATIVIDAD
          </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="/marcoNormativo">MARCO NORMATIVO</a></li>
                            <li>
                                <a class="dropdown-item" href="/tratadosyComercios">TRATADOS Y COMERCIOS INTERNACIONALES</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="/integridadPublica">INTEGRIDAD PÚBLICA</a>
                            </li>
                        </ul>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/saladPrensa">SALA DE PRENSA</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            TRANSPARENCIA
          </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="/transparencia">UNIDAD DE TRANSPARENCIA</a></li>
                            <li><a class="dropdown-item" href="/actas">ACTAS DE SESIONES</a></li>
                            <li>
                                <a class="dropdown-item" href="#">LGCG(CONT-PRESU-BIENES)</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="#">INFORME DE GESTION</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="http://www.sesecc.oaxaca.gob.mx/wp-content/uploads/aviso-de-privacidad/aviso-de-privacidad-simplificado.pdf">AVISO DE PRIVACIDAD</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="#">INFORMACION RELATIVA A LAS DENUNCIAS CIUDADANAS</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/plataformaDigital">PLATAFORMA DIGITAL ESTATAL</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#contact">CONTACTO</a>
                    </li>
                    <li class="nav-item">
                        <div class="nav-item text-nowrap">
                            <a class="nav-link px-3" href="/login">Sign in</a>

                        </div>
                    </li>
                </ul>
            </div>
            <div class="mx-3 ">
                <a class="float" href="#contact"><i class="bi bi-facebook color-icon"></i></a>
                <a class="float" href="#contact"><i class="bi bi-twitter color-icon"></i></a>
                <a class="float" href="#contact"><i class="bi bi-youtube color-icon"></i></a>
            </div>
        </div>
    </nav>
    <!---->
    <br>
    <br>
    <br>


    <div class="font-dm">
        <div class="">
            <div class="color-font ms-2">
                <!-- <h3 class="mb-0">ÓRGANO DE GOBIERNO</h3> -->
                <div class="p-4 justify-text-center">

                    <div class="entry-content">

                        <h2>
                            Comité Coordinador
                        </h2>
                        <p>Es la instancia responsable de establecer mecanismos de coordinación entre los integrantes del Sistema Estatal y tiene bajo su encargo el diseño, promoción y evaluación de políticas públicas de combate a la corrupción.</p>
                        <p>Se integra por:</p>
                        <ul>
                            <li>Dos representantes del Comité de Participación Ciudadana</li>
                            <li>El titular de la Auditoría Superior del Estado</li>
                            <li>El titular de la Fiscalía Especializada en Combate a la Corrupción</li>
                            <li>El titular de la Secretaría de Transparencia y Rendición de Cuentas</li>
                            <li>Un representante del Consejo del Poder Judicial</li>
                            <li>El Presidente del Tribunal de Justicia Administrativa</li>
                            <li>Un representante de lo órganos internos de control de cada región</li>
                        </ul>
                        <br>
                        <h2>
                            Actas y Resoluciones
                        </h2>
                        <p>Actas y Resoluciones del Órgano de Gobierno del Sistema Anticorrupción del Estado de Oaxaca</p>
                        <p><strong>2019</strong></p>
                        <br>
                        <hr>
                        <ul>
                            <li><a href="https://secureservercdn.net/50.62.198.97/51t.379.myftpupload.com/wp-content/uploads/2019/09/Primera-Sesión-Ordinaria-del-órgano-de-Gobierno.pdf" target="_blank" rel="noopener noreferrer" class="link-secondary">Primera Sesión Ordinaria del órgano de Gobierno</a><br>
                                <br>
                            </li>
                            <li><a href="https://secureservercdn.net/50.62.198.97/51t.379.myftpupload.com/wp-content/uploads/2019/09/Acta-de-la-Sesión-Extraordinaria-del-Órgano-de-Gobierno-del-19-de-febrero-del-2019.pdf" target="_blank" rel="noopener noreferrer"
                                    class="link-secondary">Acta de la Sesión Extraordinaria del Órgano de Gobierno del 19 de febrero del 2019</a></li>
                        </ul>
                    </div>
                    <br><br>

                </div>
            </div>


        </div>
    </div>
    <!------------------------------------------------------------->


    <footer id="contact" class="contactosala">
        <div class="bg-secondary p-3 pb-2 text-center text-white">
            <h4>CONTACTANOS</h4>
        </div>
        <div class="background-overlay">
            <div class="container">
                <div class="row text-white">
                    <div class="col-md-4 my-auto mx-auto text-center">
                        <i class="bi bi-house" width="40" height="40"> Dirección</i>
                        <h4>Colón No. 1128, Colonia Centro, Oaxaca de Juárez, Oaxaca.</h4>
                    </div>
                    <div class="col-md-4 my-auto mx-auto text-center">
                        <i class="bi bi-clock"> Horarios de atención</i>
                        <h4>9:00 am - 17:00 pm <br> Lunes - Viernes</h4>
                    </div>
                    <div class="col-md-4 my-auto mx-auto text-center">
                        <div class=" p-1 ">

                            <i class="bi bi-telephone"> Teléfonos</i>
                            <h4>951 3516611 <br> 951 2063111</h4>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class=" text-center bg-secondary p-3 pb-2 text-white">
            <h6>http://www.sesecc.oaxaca.gob.mx/</h6>
        </div>
    </footer>
    <!-- <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"
      integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js"
      integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/"
      crossorigin="anonymous"
    ></script>-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
    <!---->
    <script>
        // window.sr = ScrollReveal();
        // sr.reveal('.navbar', {
        //     duration: 4000,
        //     origin: 'bottom'
        // });

        window.sr = ScrollReveal();
        sr.reveal('.logo', {
            duration: 4000,
            origin: 'top',
            distance: '200px'
        });
        window.sr = ScrollReveal();
        sr.reveal('.info', {
            duration: 4000,
            origin: 'bottom',
            distance: '200px'
        });
    </script>


</body>



</html>